.emacs.d/ac-comphist.dat
.emacs.d/auto-install
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/inits/*.elc
.emacs.d/plugins
.emacs.d/.org-id-locations
.emacs.d/anything-c-adaptive-history
.emacs.d/elpa
.emacs.d/inits/wget-log*
.emacs.d/url
